
Language:        Cpp
TabWidth:        2
IndentWidth:     2
ContinuationIndentWidth: 2
UseCRLF:         false
UseTab:          Never
ColumnLimit: 90
AlignAfterOpenBracket: Align
BinPackArguments: false
BinPackParameters: false
PenaltyBreakBeforeFirstCallParameter: 500
PenaltyBreakAssignment: 10000
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
ExperimentalAutoDetectBinPacking: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortLambdasOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: All
IndentPPDirectives: BeforeHash
IndentCaseLabels: true
BreakStringLiterals: false
ReflowComments: false
AlwaysBreakTemplateDeclarations: true
