{% extends "base.html" %}

{% block meta_content %}
  <title>{{ page.title | safe }} - {{ config.extra.base_title | safe }}</title>
  <meta property="og:title" content="{{ page.title | safe }}" />
  <meta property="og:type" content="article" />
  <meta property="og:description" content="{{ page.description }}">
  {% if page.extra.image %}
  <meta property="og:image" content="{{ page.extra.image | safe }}" />
  {% else %}
  <meta property="og:image" content="{{config.base_url | safe}}/{{current_path | safe}}/preview-image.png" />
  {% endif %}
{% endblock meta_content %}

{% block content %}
<h1 class="title">
  {{ page.title }}
</h1>
<!-- <p class="subtitle"><strong>{{ page.date }}</strong></p> -->
{{ page.content | safe }}
{% endblock content %}