{% extends "base.html" %}

{% block content %}

{% set articles_section = get_section(path="articles/_index.md") %}
{% for year, posts in articles_section.pages | group_by(attribute="year") %}

<!-- <h2>Writing</h2> -->

{% for post in posts %}
<section class="article-entry">
  <h3><a href="{{ post.permalink }}">{{ post.title }}</h3></a></h3>
  <!-- {% if post.extra.enableSampleImage %}
  <section class="center-align">
    <img
      src="{{ post.permalink }}/sample-image.png"
      alt="sample image" />
  </section>
  {% endif %} -->
  <p>
    {{ post.summary | safe }}
  </p>
</section>
{% endfor %}
{% endfor %}


<!-- <p>Click <a href="{{ get_url(path='@/articles/_index.md') }}">here</a> to see my posts.</p> -->
{% endblock content %}